[buildout]
extends =
    https://raw.github.com/imatem/plone-dev.cfg-files/4.3.19/pinned_versions.cfg
    https://raw.github.com/imatem/plone-dev.cfg-files/4.3.19/floating_versions.cfg
    https://raw.github.com/imatem/plone-dev.cfg-files/master/hotfixes/4.3.19.cfg

extensions = mr.developer
develop =
package-name = reptheory.policy
# package-extras = [test]

# install requirements whose versions aren’t pinned?
allow-picked-versions = false
show-picked-versions = true
# extensions = plone.versioncheck
languages = en es

parts =
    instance
#    dependencychecker
#    omelette

eggs +=
    omdf.policy
    omdf.theme
    reptheory.policy
    collective.lineage
    lineage.themeselection

show-picked-versions = true
auto-checkout =
    omdf.policy
    omdf.theme
    reptheory.policy

[instance]
recipe = plone.recipe.zope2instance
eggs =
    Plone
    Pillow
    ${buildout:eggs}
http-address = 8080
user = admin:admin
environment-vars =
    PTS_LANGUAGES ${buildout:languages}
    zope_i18n_allowed_languages ${buildout:languages}
    zope_i18n_compile_mo_files true
debug-mode = on
verbose-security = on
deprecation-warnings = on

[dependencychecker]
recipe = zc.recipe.egg
eggs = z3c.dependencychecker

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance:eggs}
    ${test:eggs}

[plone4site]
recipe = collective.recipe.plonesite
site-id = olimpiada
default-language = es
# Create default plone content like News, Events...
profiles-initial =
    Products.CMFPlone:plone-content
#    omdf.policy:initial
profiles =
    omdf.policy:default

[sources]
omdf.policy = git https://github.com/imatem/omdf.policy.git
omdf.theme = git https://github.com/imatem/omdf.theme.git
reptheory.policy = git https://github.com/imatem/reptheory.policy.git

[versions]
# !! keep in sync with requirements.txt !!
setuptools = 38.5.2
zc.buildout = 2.11.4

collective.blog.feeds = 2.1
collective.blog.portlets = 1.6
collective.blog.star = 1.2.1
collective.blog.view = 1.5.2
collective.flowplayer = 4.1
collective.twitterportlet = 0.10
qi.portlet.TagClouds = 1.35

# collective.blog.star
Products.basesyndication = 1.0.0
Products.fatsyndication = 1.0.1
hachoir-core = 1.3.3
hachoir-metadata = 1.3.3
hachoir-parser = 1.3.4
oauthlib = 0.6.3
python-twitter = 1.3.1
# requests = 2.3.0
requests-oauthlib = 0.4.1

Products.Collage = 1.3.10
collective.collage.portlets = 0.3.1

# Required by:
# reptheory.policy==0.1
collective.mathjax = 1.1.1
Products.ContentWellPortlets = 4.3.0
z3c.jbot = 0.8


collective.lineage = 2.2
lineage.themeselection = 2.0
lineage.registry = 1.3.3
